.circuit-map-container {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    border-radius: 8px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.loading-map,
.error-map {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 10;
}

.error-map {
    color: #ff5252;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    canvas {
        width: 100% !important; 
        height: 100% !important; 
        display: block; /* Ayuda a eliminar cualquier espacio en blanco */
    }
}

.track-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px 12px;
    border-radius: 4px;
    backdrop-filter: blur(4px);
    pointer-events: none;
}

.circuit-name {
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.location {
    color: #ccc;
    font-size: 0.9rem;
}